<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <title>Welcome</title>
    </head>
    <body>
        <h1>Min CRUD Example</h1>
        <p>Welcome {{.UserInfo.Username}}</p>

        <ul>
            {{if .UserInfo.IsSignedIn}}
            <li>
                <a href="/auth/signout">Sign out</a>
            </li>
            {{else}}
            <li>
                <a href="/auth/signin">Sign in</a>
            </li>
            {{end}}
        </ul>

        <h2>Stories</h2>
        <ul>
            {{ range .Entities }}
                <li>
                    <a href="/read/{{ .EntityId }}">{{ .Title }}</a>
                </li>
            {{ end }}
        </ul>

            <hr style="border: 1px dashed #fa3;" />
            <a href="/edit">Write new post</a>

        <h2>Project Info</h2>
        <p>
        This is an illustration of the minimum requirements for a CRUD app using Twitter for auth. Written by <a href="https://twitter.com/ussherpress">@ussherpress</a>.
        </p>

        <p>project page:
          <a href="https://github.com/allenu/mincrud">github.com/allenu/mincrud</a>
        </p>
    </body>
</html>
